/* Default CSS */
/* CSS For Estimator */

 
    #table_contents {
        border: 1px solid; 
    }
    
    #table_td {
        border: 1px solid;
        width: 130px;
        text-align: center;
    }
    
    #table_th {
    	color:white;
    	background-color: #036abf;
        border: 1px solid;
        width: 130px;
        text-align: center;
        font-size:125%;
		font-weight:bold;
		font-family:"Times New Roman", Times, serif;
    }

    #combo_box {
    	color: #036abf;
    	width: 100%;
    	text-align: center;
		font-size:125%;
		font-weight:bold;
    }
    
    #main_header {
    	color: #036abf;
    	width: 100%;
    	text-align: center;
		font-size: 10mm;
		font-family:"Times New Roman",Georgia,Serif;
		font-weight:bold;
    }
    
   #welcome_header {
    	color: #036abf;
    	width: 100%;
    	text-align: center;
		font-size: 10mm;
		font-family:"Times New Roman",Georgia,Serif;
		font-weight:bold;
    }
    
    #sub_header {
    	color: #036abf;
    	width: 100%;
    	text-align: left;
		font-size:125%;
		font-weight:bold;
		font-family:"Times New Roman", Times, serif;
    }
    
    #text_box {
    	color: #036abf;
    	width: 100%;
    	text-align: center;
		font-size:125%;
		font-weight:bold;
    }
    
    #text_box_disabled {
    	color: grey;
    	width: 100%;
    	text-align: center;
		font-size:125%;
		font-weight:bold;
    }
    
    #combo_box_disabled {
    	color: grey;
    	width: 100%;
    	text-align: center;
		font-size:125%;
		font-weight:bold;
    }
    
    #customer_name {
    	color: #036abf;
    	width: 200px;
    	text-align: left;
		font-size: 5mm;
		font-family:"Times New Roman",Georgia,Serif;
		font-weight:bold;
    }
