@*******************************************************************************
* Album. This is the album which contains all the images which we want to show.*
*                                                                              *
*******************************************************************************@

<div class="album">
    <!-- BED ROOM -->
    <h1>Bed Room</h1>
    <div class="highslide-gallery">
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/abcd.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic1.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic2.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic2.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic3.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic3.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic4.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic4.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic5.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic5.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic6.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic6.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic7.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic7.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic8.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic8.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic9.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic9.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic10.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic10.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic11.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic11.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic12.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic12.jpg")">
            </a>
        </div>
    </div>
    <!-- KITCHEN -->
    <h1>Kitchen</h1>
    <div class="highslide-gallery">
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic13.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic13.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic14.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic14.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic15.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic15.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic16.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic16.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic17.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic17.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic18.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic18.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic19.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic19.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic20.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic20.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic21.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic21.jpg")">
            </a>
        </div>
      </div>
    <!-- LIVING ROOM -->
    <h1>Living Room</h1>
    <div class="highslide-gallery">
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic22.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic22.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic23.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic23.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic24.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic24.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic25.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic25.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic26.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic26.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic27.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic27.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic28.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic28.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic29.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic29.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic30.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic30.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic31.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic31.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic32.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic32.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic33.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic33.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic34.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic34.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic35.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic35.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic36.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic36.jpg")">
            </a>
        </div>
    </div>
</div>