@*******************************************************************************
* Album. This is the album which contains all the images which we want to show.*
*                                                                              *
*******************************************************************************@

<div class="album">
    <!-- BED ROOM -->
    <h1>Bed Room</h1>
    <div class="highslide-gallery">
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic10.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic10.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic11.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic11.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic12.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic12.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic10.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic10.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic11.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic11.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic12.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic12.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic10.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic10.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic11.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic11.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic12.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic12.jpg")">
            </a>
        </div>
    </div>
    <!-- KITCHEN -->
    <h1>Kitchen</h1>
    <div class="highslide-gallery">
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic10.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic10.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic11.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic11.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic12.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic12.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic10.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic10.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic11.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic11.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic11.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic11.jpg")">
            </a>
        </div>
    </div>
    <!-- LIVING ROOM -->
    <h1>Living Room</h1>
    <div class="highslide-gallery">
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic10.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic10.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic11.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic11.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic12.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic12.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic10.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic10.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic11.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic11.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic12.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic12.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic10.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic10.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic11.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic11.jpg")">
            </a>
        </div>
        <div class="thumbwrapper">
            <a onclick="return hs.expand(this, galleryOptions2)" class="highslide" href="@routes.Assets.at("images/pic12.jpg")">
                <img title="Enlarge" alt="Enlarge" src="@routes.Assets.at("images/thumb_pic12.jpg")">
            </a>
        </div>
    </div>
</div>