@*******************************************************************************
* Index. This is the home page.                        						   *
*                                                                              *
*******************************************************************************@
@(id: String)
@* 
	----------------------------
	-- Page Specific Metadata --
	---------------------------- 
*@
@pageSpecificMetadata = {
	<meta name="description" content="This is interior website.">
	<meta name="keywords" content="interior, design, furniture, commercial, residential">
	<title>Estimator</title>
}

@* 
	-----------------------
	-- Page Specific CSS --
	----------------------- 
*@
@pageSpecificCss = {
	<link href="@routes.Assets.at("stylesheets/styles.css")" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/estimator.css")">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/cufon-yui.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/Monotype_Corsiva_italic_400.font.js")"></script>
	<script type="text/javascript">
       Cufon.replace ('h1')('h2')('h4')('#logo')('.box_tit_text');
	</script>
	<script type="text/javascript">
       Cufon.replace ('h1')('h2')('h4')('#header_title')('.box_tit_text');
	</script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.4.3.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/estimator.js")"></script>
}

@* 
	-----------------------
	-- Main HTML Content --
	----------------------- 
*@
@content = {
<body onload = "runTotal(frm_wardrobe);runTotal(frm_loft);runTotal(frm_uts);runTotal(frm_ats);runTotal(frm_ou);calculateAmount(frm_wardrobe, 1);calculateAmount(frm_loft, 2);calcAmount(frm_uts);calcAmount(frm_ats);calcAmount(frm_ou)"></body>
@views.html.header()
				<table height= "70px">
					<tr>
						<td width = "20px">
						</td>
						<td width = "12px">
						</td>
						<td width = "800px">
						</td>
						<td>
							<a href="@securesocial.controllers.routes.LoginPage.logout()" >Log out</a>
						</td>
					</tr>
				</table>	
	@if(id == "wardrobe") {
		<table width = "100%">
			<tr>
				<td width = "100%">
					@views.html.wardrobe()
				</td>
			</tr>
			<tr height = "50px">
			</tr>
			<tr>
				<td width = "100%">
					@views.html.kitchen()
				</td>
			</tr>
			<tr height = "50px">
			</tr>
		</table>
		
		
	}
	@if(id == "kitchen") {
		<table width = "100%">
			<tr>
				<td width = "100%">
					@views.html.kitchen()
				</td>
			</tr>
			<tr height = "50px">
			</tr>
			<tr>
				<td width = "100%">
					@views.html.wardrobe()
				</td>
			</tr>
			<tr height = "50px">
			</tr>
		</table>
	}	             
@views.html.footer()
}
	
@* 
	---------------------------------------
	-- Call the main.scala.html template --
	---------------------------------------
*@
@main(pageSpecificMetadata)(pageSpecificCss)(content)