@*******************************************************************************
* Header. This is the header for all the pages.                        		   *
*                                                                              *
*******************************************************************************@
	<div id="buttons">
		<a href="/home" class="but"  title="">Home</a><div class="but_div"></div>
		<a href="/gallery"  class="but" title="">Work&nbsp;Pictures</a><div class="but_div"></div>
		<a href="/projects"  class="but" title="">Projects&nbsp;Done</a><div class="but_div"></div>
		<a href="/offers" class="but">Offers</a><div class="but_div"></div>
		<a href="/contact" class="but" title="">Contact&nbsp;Us</a><div class="but_div"></div>
	</div>
