@*******************************************************************************
* Header. This is the header for all the pages.                        		   *
*                                                                              *
*******************************************************************************@
	<div id="buttons">
		<a href="/home" class="but"  title=""><i>Home</i></a><div class="but_div"></div>
		<a href="/gallery"  class="but" title=""><i>Work&nbsp;Pictures</i></a><div class="but_div"></div>
		<a href="/projects"  class="but" title=""><i>Projects&nbsp;Done</i></a><div class="but_div"></div>
		<a href="/offers" class="but"><i>Offers</i></a><div class="but_div"></div>
		<a href="/contact" class="but" title=""><i>Contact&nbsp;Us</i></a><div class="but_div"></div>
	</div>
