@*******************************************************************************
* Index. This is the home page.                        						   *
*                                                                              *
*******************************************************************************@
@* 
	----------------------------
	-- Page Specific Metadata --
	---------------------------- 
*@
@pageSpecificMetadata = {
	<meta name="description" content="This is interior website.">
	<meta name="keywords" content="interior, design, furniture, commercial, residential">
	<title>Dream Hut Interiors</title>
}

@* 
	-----------------------
	-- Page Specific CSS --
	----------------------- 
*@
@pageSpecificCss = {
	<link href="@routes.Assets.at("stylesheets/styles.css")" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/cufon-yui.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/Monotype_Corsiva_italic_400.font.js")"></script>
	<script type="text/javascript">
       Cufon.replace ('h1')('h2')('h4')('#logo')('.box_tit_text');
	</script>
	<script type="text/javascript">
       Cufon.replace ('h1')('h2')('h4')('#header_title')('.box_tit_text');
	</script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.4.3.min.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.nivo.slider.pack.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.call.nivo.slider.js")"></script>
	<link href="@routes.Assets.at("stylesheets/nivo-slider.css")" rel="stylesheet" type="text/css" media="screen" />
}

@* 
	-----------------------
	-- Main HTML Content --
	----------------------- 
*@
@content = {
@views.html.header()
<div>
<table>
<tr>
<td>
	<div id="header_title">
		<span class="header_title_span">Dream Hut</span><br> <span class="head_content_span">Interiors And Furniture</span></br>
	</div>
</td>
<td>Slider will go here.</td>
<td >
<table>
<tr><td></td></tr>
<tr><td><a id="provider_fb" class="provider_fb" href="/authenticate/facebook"><img src="@routes.Assets.at("images/facebook.jpg")" /></a></td></tr>
<tr><td><a id="provider_google" class="provider_google" href="/authenticate/google"><img src="@routes.Assets.at("images/google.jpg")" /></a></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>
</table>
</div>
</td>
</tr>
</table>
</div>
	
	
	
	
@views.html.footer()
}
	
@* 
	---------------------------------------
	-- Call the main.scala.html template --
	---------------------------------------
*@
@main(pageSpecificMetadata)(pageSpecificCss)(content)