@*******************************************************************************
* Index. This is the home page.                        						   *
*                                                                              *
*******************************************************************************@
@* 
	----------------------------
	-- Page Specific Metadata --
	---------------------------- 
*@
@pageSpecificMetadata = {
	<meta name="description" content="Dream Hut Interiors is the premier website in India which allows you to estimate the prices of your work online instantly.">
	<meta name="keywords" content="dream, hut, estimator, dream hut, interior, design, furniture, commercial, residential">
	<title>Dream Hut Interiors</title>
}

@* 
	-----------------------
	-- Page Specific CSS --
	----------------------- 
*@
@pageSpecificCss = {
	<link href="@routes.Assets.at("stylesheets/styles.css")" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/cufon-yui.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/Monotype_Corsiva_italic_400.font.js")"></script>
	<script type="text/javascript">
       Cufon.replace ('h1')('h2')('h4')('#logo')('.box_tit_text');
	</script>
	<script type="text/javascript">
       Cufon.replace ('h1')('h2')('h4')('#header_title')('.box_tit_text');
	</script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.4.3.min.js")"></script>
}

@* 
	-----------------------
	-- Main HTML Content --
	----------------------- 
*@
@content = {
@views.html.header()
<div id = "login_window">
	<table class = "login_table">
			<tr>
				<td>
					<div id = "main_header">
						Specialist in all types of wood work for flats.
				    </div>
				    <br/>
				    <div id = "project_para">
						We offer prices as less as carpenter but our services are of best interior designer in the market.
				    </div>
				    <div id = "project_para">
						Now you can calculate the price of your work online on our site.
				    </div>
					<div id = "project_header">
							Other Services
					</div>
					<div id = "home_list">
						<ul>
							<li>
								POP Work 
							</li>
							<li>
								Grill Work 
							</li>
							<li>
								Aluminium Windows 
							</li>
							<li>
								Granite & Tiles Work 
							</li>
							<li>
								Curtain Fittings 
							</li>
							<li>
								Electric & Plumbing Work 
							</li>
							<li>
								Bathroom Fittings<br/> And all types of Interior Solution 
							</li>
							<br/>
							<br/>
							<br/>
							<br/>
							<br/>
							<br/>
							<br/>
						</ul>
					</div>
				</td>
				<td width = "20px">
				
				</td>
				<td width = "250px">
						<img src="@routes.Assets.at("images/home_mid.jpg")">
				</td>
				<td width = "10px">
				
				</td>
				<td >
				    <center>
						<table>
							<tr>
								<td>
									<img src="@routes.Assets.at("images/login_content.png")">
								</td>
							</tr>
						</table>
						<table>
							<tr height="30px";>
							</tr>
							<tr>
								<td>
									<a id="provider_fb" class="provider_fb" href="/authenticate/facebook"><img src="@routes.Assets.at("images/facebook.jpg")"></a>
								</td>
							</tr>
							<tr height="2px";>
							</tr>
							<tr>
								<td>
									<a id="provider_google" class="provider_google" href="/authenticate/google"><img src="@routes.Assets.at("images/google.jpg")"></a>
								</td>
							</tr>
						</table>
						</center>
						<table>
							<tr height="25px";>
							</tr>
							<tr>
								@views.html.footer_home()
							</tr>
						</table>
				</td>
			</tr>
		</table>
</div>
<div id="footer_bottom" class="footer_bottom">
	<p><a href="/contact">Contact</a> | <a href="/policy">Privacy Policy</a> | <a href="/tos">Terms of Service</a> | <a href="/map">Map</a>
</div>
}
	
@* 
	---------------------------------------
	-- Call the main.scala.html template --
	---------------------------------------
*@
@main(pageSpecificMetadata)(pageSpecificCss)(content)
