@(pageSpecificMetadata: Html)(pageSpecificCss: Html)(content: Html)

<!doctype html> 
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	@pageSpecificMetadata
  	@pageSpecificCss = {
  		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  	}
</head>
<body>
	<div id="main">
    	<!-- header -->
    	<table >
    		<tr height= "150px";>
    			<td>
    				<div id="logo">
            			<a href="/home"><span class="logo_span"><img src="@routes.Assets.at("images/logo.jpg")"></span></a>
					</div>
	   			</td>
				<td>	
					<div id="header_title">
            			<a href="/home"><span class="header_title_span">Dream Hut</span><br> <span class="head_content_span">Interiors And Furniture</span></br></a>
					</div>
				</td>
			</tr>
		</table>
    	<div id="border">
		<!-- Start: Container -->
			@content
		<!-- End: Container -->
		</div>
	</div>
</body>
</html>