@*******************************************************************************
* Privacy Policy. This is the private policy page.                        						   *
*                                                                              *
*******************************************************************************@
@* 
	----------------------------
	-- Page Specific Metadata --
	---------------------------- 
*@
@pageSpecificMetadata = {
	<meta name="description" content="Dream Hut Interiors is the premier website in India which allows you to estimate the prices of your work online instantly.">
	<meta name="keywords" content="dream, hut, estimator, dream hut, interior, design, furniture, commercial, residential">
	<title>Dream Hut Interiors</title>
}

@* 
	-----------------------
	-- Page Specific CSS --
	----------------------- 
*@
@pageSpecificCss = {
	<link href="@routes.Assets.at("stylesheets/styles.css")" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
	<script type="text/javascript" src="@routes.Assets.at("javascripts/cufon-yui.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/Monotype_Corsiva_italic_400.font.js")"></script>
	<script type="text/javascript">
       Cufon.replace ('h1')('h2')('h4')('#logo')('.box_tit_text');
	</script>
	<script type="text/javascript">
       Cufon.replace ('h1')('h2')('h4')('#header_title')('.box_tit_text');
	</script>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.4.3.min.js")"></script>
}

@* 
	-----------------------
	-- Main HTML Content --
	----------------------- 
*@
@content = {
@views.html.header()
<div id = "project_window">
<center>
	<table class = "project_table">
			<tr>
				<td>
					<div id = "project_para">
							Privacy Policy
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id = "project_list">
							<p>We at Dreamhutinteriors.com assure to protect your personal information and privacy. We have built our site on the latest technology which will give you the best and safe online experience. Dreamhutinteriors.com is committed to this privacy policy statement and governs data collection and usage.
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id = "project_para">
							Getting your personal data
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id = "project_list">
							<p>Dreamhutinteriors.com collects personally identifiable information, such as your e-mail address, name.
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id = "project_para">
							Using your personal data
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id = "project_list">
							<p>Dreamhutinteriors will use your personal data to contact you if necessary to take your opinion about serving you best and telling you about our latest services and products. We are committed not to share your data with third party in any case other than it is required by law.
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id = "project_para">
							Security of your personal data	
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id = "project_list">
							<p>Dreamhutinteriors.com secures your personal information from unauthorized access, use or disclosure. Dreamhutinteriors.com secures the personally identifiable information you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other Web sites, it is protected through the use of encryption, such as the Secure Socket Layer (SSL) protocol.
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id = "project_para">
							Alteration of privacy policy
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id = "project_list">
							<p>Dreamhutinteriors.com may alter/change its privacy policy at times. But before changing our policy we will post a notice about our updated privacy policy on our site.
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id = "project_list">
							<p>Updated on: January 13, 2013
					</div>
				</td>
			</tr>
	</table>
</center>
</div>
@views.html.footer()
}
	
@* 
	---------------------------------------
	-- Call the main.scala.html template --
	---------------------------------------
*@
@main(pageSpecificMetadata)(pageSpecificCss)(content)